.gallery {
  margin: 0px;
}

.gallery {
  width: 100%;  
}

.gallery {
  
}






.slidin-from-left {
  animation-name: slidin-from-left;
  animation-duration: 1s;
  animation-delay: 1s;
  ;
}

@keyframes slidin-from-left {
  from {
    transform: translateX(-0px);
  }
}